
@font-face {
  font-family: 'Grotesk';
  src: url(data:application/x-font-woff;charset=utf-8;base64,{{NHaasGroteskDSW02-15UltTh}}) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url(data:application/x-font-woff;charset=utf-8;base64,{{NHaasGroteskDSW02-45Lt}}) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url(data:application/x-font-woff;charset=utf-8;base64,{{NHaasGroteskDSW02-55Rg}}) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk';
  src: url(data:application/x-font-woff;charset=utf-8;base64,{{NHaasGroteskDSW02-Bd}}) format('woff');
  font-weight: bold;
  font-style: normal;
}
